// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

.ec20SplitTop {
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
      animation: resize 3000ms ease infinite both;

    .imgBox {
        background-image: url("/images/default-source/freshman-admissions/drone-arial.jpg");
        background-size: cover;
        background-position: center;
        justify-self: stretch;
        grid-row: 1 / 2;
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
          animation: resize 3000ms ease infinite both;

        .discover {
            justify-self: stretch;
            text-align: center;
            img {
                width: 100%;
            }
        }
        .logocontainer {
            place-self: center end;
            padding: 2rem;
          max-width:150px;
        }
    }

    .textCont {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        align-items: center;
        .text {
            font-weight: 400;
            line-height: 2rem;
            letter-spacing: 0.2rem;
            justify-self: center;
            align-content: center;
            color: #636363;
            font-size: 1.2rem;
             padding: 2rem 3rem;

            b {
                font-weight: 500;
                color: #000;
            }
        }
    }
}

///////////////////////////////////////////////////////
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .ec20SplitTop {
        .discover {

            img {
            }
        }
        .logocontainer {

        }
    }

    .textCont {

        .text {
            padding: 2rem 3rem;
            font-size: 1.2rem;

            strong {

            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  

  
  
}

///////////////////////////////////////////////////////
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  
    .ec20SplitTop {
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 1fr;
    .imgBox {
      display:grid;
      min-height:0;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        .discover {
            img {}
        }
        .logocontainer {}
    }

    .textCont {
        grid-column: 2/3;
        grid-row: 1 / 2;
        align-items: center;
        .text {
            padding: 2rem 3rem;
          font-size:1.2em;
          line-height:2.5rem;
            strong {}
        }
    }
}

  
  
}

///////////////////////////////////////////////////////
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
   .ec20SplitTop {
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 1fr;
    .imgBox {
      min-height:0;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        .discover {
            img {}
        }
        .logocontainer {}
    }

    .textCont {

        .text {
            padding: 4rem 8rem;

            strong {}
        }
    }
}
  
  
}

