.ec20Academics {
    .grid3col {
      .col1,
      .col2,
      .col3 {
        padding: 3rem 6rem;
      }
    }
  }
  // Small devices (landscape phones, 576px and up)
  @media (min-width: $sm) {
    .ec20Academics {
      .grid3col {
        padding: 2rem 0 0 0;
        .col1,
        .col2,
        .col3 {
          padding: 3rem;
        }
        .col3 {
          img {
            //without this the img is huge here
            max-width: 50%;
          }
        }
      }
    }
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: $md) {
    .ec20Academics {
      .grid3col {
        .col1,
        .col2,
        .col3 {
        }
        .col3 {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: $lg) {
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: $xl) {
    .ec20Academics {
      .grid3col {
        .col1,
        .col2,
        .col3 {
          padding: 5rem;
        }
        .col3 {
          img {
          }
        }
      }
    }
  }
  