
@mixin ec20quickStatsIcon {
    filter: var(--ec20icon-gold);
      transition: var(--icon-transition-speed);
    max-height:100px;
    max-width:100px;
    min-width:75px;
  }
  
  .ec20QuickStats {
      background-color: #000;
      color: #d8b45e;
      padding: 2rem 0;
      font-family: 'Source Sans Pro', sans-serif;
      display: grid;
      grid-row-gap: 30px;
      grid-template-columns: 20vw minmax(auto, 100vw) 20vw;
      grid-template-areas: "title title title" "subTitle subTitle subTitle" "facts facts facts" "cta cta cta";
      .title {
          font-size: 1.2rem;
          font-style: italic;
          grid-area: title;
          display: grid;
          grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
          align-items: center;
          text-align: center;
          grid-gap: 1rem;
          width: 100%;
          &:before,
          &:after {
              content: '';
              border-top: 2px solid #d8b45e;
          }
      }
      .subTitle {
          grid-area: subTitle;
          color: #fff;
          text-align: center;
          align-items: center;
          font-size: 1.2rem;
          text-transform: uppercase;
          font-weight: 200;
          letter-spacing: .2rem;
      }
      .facts {
          grid-area: facts;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto;
          grid-row-gap: 40px;
          .fact {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr;
              color: #fff;
              grid-gap: 15px;
              .number {
                  font-family: 'Source Sans Pro', sans-serif;
                  font-size: 3rem;
                  text-align: right;
                  align-self: center;
                  font-weight: 600;
              }
              .factTitle {
                  font-family: "EB Garamond", serif;
                  align-self: center;
                  font-style: italic;
          font-size:1rem;
          font-weight:400;
              }
              .icon {
                  align-self: center;
          img {
          @include ec20quickStatsIcon
            }
              }
          }
      }
      .cta {
      grid-area:cta;
      align-items: center;
          text-align: center;
      padding:3rem 0;
      }
  }
  
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: $sm) {}
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: $md) {
   
  
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: $lg) {
     .ec20QuickStats {
           grid-template-columns: 20vw minmax(auto, 100vw) 20vw;
      grid-template-areas: "title title title" "subTitle subTitle subTitle" ". facts ." "cta cta cta";
      .title {
              grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
          font-size: 2rem;
              grid-gap: 1rem;
  
  
          &:before,
          &:after {
          }
      }
      .subTitle {
          font-size: 2rem;
  
      }
      .facts {
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 40px;
          .fact {
              
              .number {
                                  font-size: 5rem;
  
              }
              .factTitle {
          text-align:left;
                  font-size:1.3rem;
  
  
              }
              .icon {
          img {
            }
              }
          }
      }
      .cta {
  
      }
  }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: $xl) {}