.ec20payForCollege {
    .col1,
    .col2,
    .col3 {
      padding: 1rem 1rem 3rem 0;
      color: $ec20grey;
      text-align: center;
      display: grid;
      grid-template-rows: 125px 4rem auto 50px;
      grid-template-areas: "icon" "title" "subhead" "cta";
      .icon {
        grid-area: icon;
        margin: auto;
        align-self: center;
        justify-self: center;
        img {
          height: 75px;
          max-width: 90;
        }
      }
      .title {
        grid-area: title;
        font-size: 2rem;
        font-family: "Source Sans Pro", sans-serif;
        text-transform: uppercase;
      }
      .subhead {
        grid-area: subhead;
        font-size: 1rem;
        font-family: "EB Garamond", serif;
        font-style: italic;
        align-self: top;
      }
      .cta {
        grid-area: cta;
        padding: 2rem 0 0 0;
      }
    }
  }
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: $sm) {
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: $md) {
    .ec20rowAthletics {
      .col1,
      .col2,
      .col3 {
        .title {
          font-size: 5rem;
        }
        .subhead {
          font-size: 2rem;
          font-style: italic;
        }
      }
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: $lg) {
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: $xl) {
  }
  