.ec20youBelongHere {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    .youBelongHereHeadline {
      height: 500px;
  
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      background: url("/images/default-source/freshman-admissions/boardwalk.jpg?ver1");
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center;
      background-size: cover;
    }
    .cta {
      margin: -1.5rem 0 0 0;
      a {
        padding: 1rem 4rem;
        font-size: 1rem;
      }
    }
  }
  
  // Extra small devices (portrait phones, less than 576px)
  // No media query since this is the default in Bootstrap
  // Small devices (landscape phones, 576px and up)
  @media (min-width: $sm) {
  }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: $md) {
    .ec20youBelongHere {
      .youBelongHereHeadline {
        background-attachment: fixed;
      }
      .cta {
        a {
        }
      }
    }
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: $lg) {
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: $xl) {
  }
  