/* _infographic--sm.scss */
/*
@media (max-width: 768px) {
	.infographic {
		.prestige {
			.prestige-item {
				margin-bottom: 50px;
				width: 100% !important;
				&.middle {
					&:before {
						display: none;
					}
					&:after {
						display: none;
					}
				}
			}
			.dotted-wrap {
				margin: 0;
			}
		}
		.value {
			.stat {
				canvas {
					display: block;
					margin: 0 auto 30px auto !important;
					text-align: center;
				}
				.stat-text {
					display: block;
					margin: 0 auto 30px auto !important;
					text-align: center;
				}
				.users {
					margin-bottom: 10px;
				}
			}
		}
		.program-stats {
			.user-stats {
				.ratio {
					display: block;
					margin: 0 auto 50px auto;
					width: auto !important;
				}
				.average {
					display: block;
					margin: 0 auto 50px auto;
					width: auto !important;
					&:before {
						display: none;
					}
					&:after {
						display: none;
					}
				}
				.undergrads {
					display: block;
					margin: 0 auto 50px auto;
					width: auto !important;
				}
				.users {
					margin-bottom: 10px;
				}
			}
		}
	}
	
	#chartGrantsScholarshipsContainer {
	width:125px;
}
#chartGradsContainer {
	width:125px;
}
}*/


@media (min-width:992px) {
	.infographic3up {
    padding: 50px 0 50px 0;
    .container {
        .row {
            .col-md-4 {
                img {
				}
                .title {
                }
                &:nth-child(2) {
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        margin: 0 auto;
                        width: 100%;
                        border-left: 4px dotted #999;
                        border-right: 4px dotted #999;
                        height: 100%;
                        left: 0;
                    }
                }
            }
        }
    }
	}}