// _intuitionCalculator.scss

.calculator {
  .wrapper {
    max-width:500px;
    margin:0 auto;
    text-align:center;
  }
}
.calculatorHero {
	.background {
		background-image:url(https://www.edgewood.edu/images/default-source/intuition/intuition-hero_1900x400_bg.jpg?Status=Temp&sfvrsn=da4ff58e_2);
//		background-image:url(https://www.edgewood.edu/images/default-source/intuition/intuition-landing-page.jpg);
		background-size: cover;
		background-position: 15% 50%;
//		min-height: 300px;
	}
}


h1 {
  font-size: 1.6rem;
  font-weight: 300;
}
.slider-act, .slider-gpa {
  margin:15px;
}
.slider-act--title, .slider-gpa--title {
  margin:15px;
}
.green{color: green;}
#RAIDisplay{font-weight:bold;font-size: 20pt;}

.calculatorImage {
  position: relative;
  width: 100%;
  height: 100%;
background-image: url(https://www.edgewood.edu/images/default-source/freshman-admissions/move-in-day-excitement.jpg);
    background-size: cover;
    background-position: center;
	transition: opacity 1s ease 2s;
	
  &:before {
    content: '';
	position: absolute;
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	  transition: opacity 1s ease 2s;
	//background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}



//@import "compass/css3";

$rangeslider:               ".rangeslider";
$rangeslider--horizontal:   ".rangeslider--horizontal";
$rangeslider--vertical:     ".rangeslider--vertical";
$rangeslider--disabled:     ".rangeslider--disabled";
$rangeslider--active:       ".rangeslider--active";
$rangeslider__fill:         ".rangeslider__fill";
$rangeslider__handle:       ".rangeslider__handle";

#{$rangeslider},
#{$rangeslider__fill} {
    display: block;
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.3);
    border-radius:10px;
}

#{$rangeslider} {
    background: $red;
    position: relative;
}

#{$rangeslider--horizontal} {
    height: 20px;
    width: 100%;
}

#{$rangeslider--vertical} {
    width: 20px;
    min-height: 150px;
    max-height: 100%;
    height: 100%;
}

#{$rangeslider--disabled} {
    opacity:.4;
}

#{$rangeslider__fill} {
    background: $red;
    position: absolute;

    #{$rangeslider--horizontal} & {
        top: 0;
        height: 100%;
    }

    #{$rangeslider--vertical} & {
        bottom: 0;
        width: 100%;
    }
}

#{$rangeslider__handle} {
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    background-image:linear-gradient(rgba(white, 0), rgba(black, .10));
    box-shadow:0 0 8px rgba(black, .3);
    border-radius:50%;

    &:after {
        content: "";
        display: block;
        width: 18px;
        height: 18px;
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image:linear-gradient(rgba(black, .13), rgba(white, 0));
        border-radius:50%;
    }

    &:active,
    #{$rangeslider--active} & {
        background-image:linear-gradient(rgba(black, .10), rgba(black, .12));
    }

    #{$rangeslider--horizontal} & {
        top: -10px;
        touch-action: pan-y;
        -ms-touch-action: pan-y;
    }

    #{$rangeslider--vertical} & {
        left: -10px;
        touch-action: pan-x;
        -ms-touch-action: pan-x;
    }
}

input[type="range"]:focus + #{$rangeslider} #{$rangeslider__handle} {
    box-shadow:0 0 8px rgba(#ff00ff, .9);
}