//_row1ColOverlay--mq.scss

@media only screen and (min-width:768px) {
    //default sizing for row
    .row1ColOverlay {
        grid-template-columns: 10vw minmax(auto, 100vw) 10vw;
        grid-column-gap: 15px;
        grid-template-areas: ". content .";
    }

}
