/* Scss Document */
@mixin row2ColPdf-h1 () {
    font-size: 2.7rem;
    //color: $color;
    margin: 0 auto 20px;
    font-weight: 400;
    &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 30%;
    }
}
//********* START the primary styling for this row type *******************/
.row2ColPdf {
    height: auto;
    overflow: hidden;
    position: relative;
    display: grid;
    align-items: center;
    
    padding: 3% 3%;
    //Setting the default grid
    grid-template-columns: 10vw minmax(auto, 15vw) minmax(auto, 65vw) 10vw;
    grid-template-rows: auto;
    grid-template-areas:
        "pdf pdf pdf pdf"
        "pdfContent pdfContent pdfContent pdfContent";

    .pdfContent {
        grid-area: pdfContent;
        h1 {
            @include row2ColPdf-h1 ();
        }
        a {
            font-weight: bold;

        }

        .subtitle {
            padding: 0 0 20px;
            font-size: 1.4rem;
            margin: auto;

        }
        .text {
            padding: 0 0 20px;
        }
    }
    .pdf {
        grid-area: pdf;
        img {
            width:100%;
            max-width: 200px;
        }
    }

}
//********* END the primary styling for this row type *******************/

//********* START the layout Modfiers to make the PDF on the left or right *******************/

.row2ColPdf-grid--pdfLeft {
grid-template-rows: auto;
    grid-template-areas:
        "pdf pdf pdf pdf"
        "pdfContent pdfContent pdfContent pdfContent";
}
.row2ColPdf-grid--pdfRight {
 grid-template-rows: auto;
    grid-template-areas:
        "pdf pdf pdf pdf"
        "pdfContent pdfContent pdfContent pdfContent";

}

//********* END the layout Modfiers to make the PDF on the left or right *******************/

//********* START the color Modfiers to make the row have different colors for bg and txt *******************/
//Im' using this to add the background color variable for each row. Parametors are in  () (FriendlyName, BG Color, Text Color) and those three bits of data are the passed variables
$row2ColPdf-bg--Colors: (Red #8f1324 #fff) (Black #000 #fff) (Grey #ccc #000) (White #fff #000);

@each $row in $row2ColPdf-bg--Colors {
    $names: nth($row, 1);
    $bgColor: nth($row, 2);
    $txtColor: nth($row, 3);

    .row2ColPdf-bg--#{$names} {
        background-color: $bgColor;
        color: $txtColor;
        a {
            color: $txtColor;

        }

    }
}
//********* END the color Modfiers to make the row have different colors for bg and txt *******************/
