/* Scss Document */

@media only screen and (min-width:768px) {
    //default sizing for row
    .row2ColMedia {
        grid-template-columns: 0vw minmax(auto, 35vw) minmax(auto, 55vw) 10vw;
        grid-column-gap: 0;
        grid-template-areas: ". media mediaContent .";
    }
    .row2ColMedia-grid--mediaLeft {
        grid-template-columns: 0vw minmax(auto, 35vw) minmax(auto, 55vw) 10vw;
        grid-template-areas: ". media mediaContent .";
        grid-column-gap: 0;
    }
    .row2ColMedia-grid--mediaRight {
        grid-template-columns: 10vw minmax(auto, 55vw) minmax(auto, 35vw) 0;
        grid-template-areas: ". mediaContent media .";
        grid-column-gap: 0;
    }

}
