/* _titleRow.scss */


//Im' using this to create 4 rows, each paramater is in () and those three bits of data are the passed variables
$rowTypes: (Red #8f1324 #fff) (Black #000 #fff) (Grey #ccc #000) (White #fff #000);

 @each $row in $rowTypes {
  $names: nth($row, 1);
  $bgColor: nth($row, 2);
  $txtColor: nth($row, 3);
  
	.titleRow#{$names} {
		text-align: center;
		height: auto;
		overflow: hidden;
		background-color: $bgColor;
		position: relative;
		.background {
			position: relative;
		}
		.content {
			bottom: 0;
			width: 100%; 
			color: $txtColor;
			padding: 30px 30px 30px 30px;
			position: relative;
			max-width: 1200px;
			margin: auto;
			h1 {
				@include sectionH1 ($txtColor);
			}
			.subtitle {
				//line-height: 30px;
				padding: 0px 0 20px 0;
				font-size: 30px;
				max-width: 1200px;
				margin: auto;

			} 
			.text {
				padding:0px 0 20px 0;
				//margin: auto;
			}
		}
		.fa {
			font-size: 30px;
			color: $txtColor;
			left: 50%; 
			margin: 18px 0 0 0;
		}
	}
}



//}


// *************** End managing Row Modifications ******************************/

