// _utility.scss


@import 'lity'; 


.table-wrap {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
	position: relative;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
	position: relative;
}


.visuallyhidden {
    display: none;
}
// ************* START Not sure if this should move to 4UpReveal.. */
// should depreciate this moved below to be overlayCOLOR
.overlay {
    width: 100%;
    height: 100%;
    position: relative;
}
.overlay.black-fifty {
    background: rgba(0, 0, 0, 0.5);
}
// ************* END Not sure if this should move to 4UpReveal.. */

// ************* START Dividers ******************* */

//trying to depreciate this???
.full {
    width: 100%;
    height: 100%;
}

.divider {
    width: 45px;
    height: 5px;
    margin: auto;
    background-color: $lightRed;
    .dark {
        background: $darkRed;
    }
    &.spaced {
        margin: 20px auto;
    }
}
// ************* END Dividers ******************* */

// ************ START Layout / Column modifiers ********************/

//this puts border on left and right... not sure why I don't need :after also
.middleColBorders:before {
	content: "";
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    border-left: 1px dotted #000;
    border-right: 1px dotted #000;
    height: 80%;
    top: 10%;
	left: 0;

}

// ************ END Layout / Column modifiers ********************/


//utility to convert HEX to an RGBA
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}





@mixin sectionH1 ($color) {
    font-size: 3.5em;
    font-weight:300;
	color: $color;
	margin: 0 auto 20px auto; 
	text-align: center;
	&:after {
	}
}

	//This is a mobile version... debating on moving to a utility--sm
@mixin sectionH1Mobile ($color) {
	font-size: 24px;
	&:after {
	}
}
	
	
// *************** START managing Row Modifications ******************************/
//  This is the topFades for the rows used to transisiton to a related different color row below
$rowFades: ("Red" #8f1324 #fff) ("Black" #000 #fff) ("Grey" #ccc #000) ("White" #fff #000);
//Im' using this to create 4 rows, each paramater is in () and those three bits of data are the passed variables
$rowTypes: ("Red" #8f1324 #fff) ("Black" #000 #fff) ("Grey" #ccc #000) ("White" #fff #000);


//Creating three states Fadetop, Fadefull and solid overlay
//.background {
 @each $row in $rowFades {
  $names: nth($row, 1);
  $bgColor: nth($row, 2);
  //$txtColor: nth($row, 3);
  
	.fadeTop#{$names}:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100px;
			background-image: linear-gradient(to bottom, $bgColor 0%,  rgba(143, 19, 36, 0));
		}
	 .fadeFull#{$names}:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
			background-image: linear-gradient(to bottom, $bgColor 0%,  rgba(143, 19, 36, 0));
		}
	 .overlay#{$names}:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			height: 100%;
		 @include background-opacity($bgColor, 0.8);
		}

}


.top-box {
    text-align: center;
    //height:auto;
    height: calc(100vh - 196px);
    overflow: hidden;
    min-height: 400px;
    .bg-img {
        position: relative;
        background-position: center top;
        background-size: cover;
    }
    @media (max-width: 992px) {
        height: 900px !important;
    }
}




@import 'utility--mq';

