/* _ctaRow--sm.scss */
@media (max-width: 992px) {
#ctaRow {
		height:auto;

	h1 {
		 @include sectionH1 ($red);
		line-height: 1em;
		font-size: 36px;
		
	}
	.h1-pre {
		font-size: 18px;
		line-height: 24px;
	}
	.text {
		font-size: 16px;
		line-height: 24px;
	}
	.info-box {

		.title {
		}
		.item {


			&.left {
			}
			&.left:after,  {
			}
			.table-wrap {

				.callout-button-red, .callout-button-blue {

				}
			}
		}
	}
}
}