/* _row2ColPdf--mq */

@media only screen and (min-width:$md) {
    //Default layout for row
    .row2ColPdf {

        .rowContent {
            grid-template-columns: 10vw minmax(auto, 15vw) minmax(auto, 65vw) 10vw;
            grid-column-gap: 15px;
            grid-template-areas: ". rowPdf rowText .";
        }
    }
    .row2ColPdf__grid--pdfLeft {

        .rowContent {
            grid-template-columns: 10vw minmax(auto, 15vw) minmax(auto, 65vw) 10vw;
            grid-template-areas: ". rowPdf rowText .";
            grid-column-gap: 15px;
        }
    }
    .row2ColPdf__grid--pdfRight {
        
        .rowContent {
            grid-template-columns: 10vw minmax(auto, 65vw) minmax(auto, 15vw) 10vw;
            grid-template-areas: ". rowText rowPdf .";
            grid-column-gap: 15px;
        }
    }
}