/* _row1ColOverlay--mq.scss */

@media only screen and (min-width:$md) {
    //Default layout for row
    .row1ColOverlay {
        grid-template-columns: 10vw minmax(auto, 80vw) 10vw;
        grid-column-gap: 15px;
        grid-template-areas: ". rowContent .";
    }
}