/* _infographic.scss  */

//********* START Core styling for this specific row *********//

.rowInfographic {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	padding: 0 0 3rem;
	margin: auto;
	//max-width: 1200px;
	width: 100%;
	position: relative;

	.infographic {
		text-align: center;

		img {
			width: 110px;
			height: 110px;
			border-radius: 50%;
			background-color: $white;
		}
		.rowTitle {
			color: #8f1324;
			font-weight: 900;
			font-size: 30px;
		}
		.rowSubtitle {
		//placeholder
		}
	}
}

//********* END Core styling for this specific row *********//

//********* START Style modfiers to change row variables *********//

@each $row in $rowColors {
    $names: nth($row, 1);
    $bgColor: nth($row, 2);
    $txtColor: nth($row, 3);

    .rowInfographic__style--#{$names} {
        background-color: $bgColor;
        color: $txtColor;

        a {
            //color: $txtColor;
        }
		.rowTitle {
			color: $txtColor;
		}
		.rowSubtitle {
			color: $txtColor;
		}
    }
}

//********* END Style modfiers to change row variables *********//