/* _row3ColButton--mq.scss */




@media only screen and (min-width:$sm) {
    .row3ColButton {
        transition: $profileTransition;
        grid-template-columns: 10vw minmax(auto, 100vw) 10vw;
        grid-template-areas: ". rowContent .";
        display: grid;
        .rowContent {
            grid-template-columns: 33% 33% 33%;
            a {
                //managing margins for dif sizes, keeping buttons the same height
                margin:2rem;
                &:nth-child(1) {
                    grid-row: 1;
                    grid-column: 1;
                    margin:2rem;

                    @include gridAlign();

                }
                &:nth-child(2) {
                    grid-row: 1;
                    grid-column: 2;
                    @include gridAlign();

                }
                &:nth-child(3) {
                    grid-row: 1;
                    grid-column: 3;
                    margin:2rem;
                    @include gridAlign();

                }
                

            }
        }
    }
}
@media only screen and (min-width:$lg) {
    .row3ColButton {
        .rowContent {
            grid-template-columns: 33% 33% 33%;
            a {
                &:nth-child(1) {
                    grid-row: 1;
                    grid-column: 1;
                    @include gridAlign();

                }
                &:nth-child(2) {
                    grid-row: 1;
                    grid-column: 2;
                    @include gridAlign();

                }
                &:nth-child(3) {
                    grid-row: 1;
                    grid-column: 3;
                    @include gridAlign();

                }

            }
        }
    }
}


//********* END Core styling for this specific row *********//

