@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$descrptionSizing: 0.6rem;
$profileTransition: all 1s ease;

.rowReveal4Up {
    background-color: #ccc;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0;
    .rowReveal4Up__col {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-position: center;
        background-size: cover;
        color: #fff;

        .rowReveal4Up__col-content {
            z-index: 3;
            transition: $profileTransition;
            padding: 25px;
            h3 {
                transition: $profileTransition;
                opacity: 0;
                height: 0;
                margin: 0;

            }
            .profile__description {
                opacity: 1;
                max-height: 500px;
                overflow: hidden;
                transition: $profileTransition;
                .profile__type {
                    font-size: $descrptionSizing;
                }
                .profile__name {
                    margin: 0;
                    color: #fff;
                }
                .profile__location {
                    font-size: $descrptionSizing;
                }
                .profile__degree-major {
                    font-size: $descrptionSizing;
                    padding: 0 0 1rem;
                }
                .profile__quote {
                    text-align: left;
                    line-height: 22px;
                }
                .profile__btn {
                    //margin: auto;
                    background-color: white;
                    border: 1px solid black;
                    font-size: 0.8rem;
                    padding: 0.5rem;
                    text-align: center;
                    display: inline-block;
                    &:hover {
                        background-color: black;
                        color: white;
                    }
                }
            }

        }
        .theOverlay {
            background-color: rgba($red, 0.8);
            height: 100%;
            width: 100%;
            position: absolute;
            z-index: 2;
            transition: $profileTransition;
        }
        &:hover {
            .theOverlay {
                //background-color: rgba($red, 0.8);
                transition: $profileTransition;
            }
            .rowReveal4Up__col-content {}
            .profile__description {
                opacity: 1;
                display: inline-block;
                max-height: 500px;
                transition: $profileTransition;

            }

        }
    }
}
