/* _rowTitleRow.scss */


//********* START the primary styling for this row type *******************/
.row1ColTitle {
    height: auto;
    overflow: hidden;
    position: relative;
    display: grid;
    align-items: center;
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
    //Setting the default grid
    grid-template-columns: 0vw minmax(auto, 100vw) 0vw;
    grid-template-rows: auto;
    text-align: center;
    z-index: 0;
    grid-template-areas:
        ". titlerowContent .";

    .rowContent {
        grid-area: titlerowContent;
        z-index: 1;

        a {
            font-weight: bold;
        }

    }
    .fa {
        font-size: 2rem;
        left: 50%; 
        margin: 18px 0 0 0;
    }

}

//********* END the primary styling for this row type *******************/


//********* START the color Modfiers to make the row have different colors for bg and txt *******************/

@each $row in $rowColors {
    $names: nth($row, 1);
    $bgColor: nth($row, 2);
    $txtColor: nth($row, 3);

    .row1ColTitle__bg--#{$names} {
        background-color: $bgColor;
        color: $txtColor;

        a {
            color: $txtColor;

        }

    }
}

//********* END the color Modfiers to make the row have different colors for bg and txt *******************/