/* _row2ColPdf.scss */


//********* START Core styling for this specific row *********//

.row2ColPdf {
    height: auto;
    overflow: hidden;
    position: relative;
    padding: 3rem 3rem;

    .rowContent {
        //Setting the default grid
        display: grid;
        grid-template-columns: 10vw minmax(auto, 15vw) minmax(auto, 65vw) 10vw;
        grid-template-rows: auto;
        grid-template-areas:
            "rowPdf rowPdf rowPdf rowPdf"
            "rowText rowText rowText rowText";
        align-items: center;

        .rowText {
            grid-area: rowText;
        }

        .rowPdf {
            grid-area: rowPdf;
            img {
                width:100%;
                max-width: 200px;
            }
        }
    }
}

//********* END Core styling for this specific row *********//

//********* START layout alignment  *********//

.row2ColPdf__grid--pdfLeft {
grid-template-rows: auto;
grid-template-areas:
    "rowPdf rowPdf rowPdf rowPdf"
    "rowText rowText rowText rowText";
}
.row2ColPdf__grid--pdfRight {
grid-template-rows: auto;
grid-template-areas:
    "rowPdf rowPdf rowPdf rowPdf"
    "rowText rowText rowText rowText";
}

//********* END layout alignment  *********//

//********* START Style modfiers to change row variables *********//

@each $row in $rowColors {
    $names: nth($row, 1);
    $bgColor: nth($row, 2);
    $txtColor: nth($row, 3);

    .row2ColPdf__style--#{$names} {
        background-color: $bgColor;
        color: $txtColor;
        a {
            color: $txtColor;

        }
    }
}

//********* END Style modfiers to change row variables *********//