/* _rowCheckerboard.scss */


//********* START Core styling for this specific row *********//
.rowCheckerboard {

	.checkerboardPair {
		display:grid;
		grid-template-columns:1fr;
		grid-template-rows:450px auto;
		grid-template-areas:
			"mediaContent"
			"rowContent";
			
		.rowMedia {
			background-position: center top;
			background-size: cover;
			overflow: hidden;
			padding: 0;
			grid-area: mediaContent;
			display:grid;
			height: 450px;

			.play-button {
				color:$white;
				place-self:center;
				font-size:4em;

				&:hover {
					color:$primary-color;
				}
			}
		}
		.rowContent {
			padding:30px 75px 20px 75px;
			place-self:center;
			grid-area:rowContent;

			.rowTitle {
				font-size:1.75em;
				font-weight:700;

				&:after {
					display:block;
					margin:2px 0px 10px 0px;
				}
			}
			.rowText {
				font-size:1.25em;
			}
		}
	}
}

//********* END Core styling for this specific row *********//

//********* START layout alignment  *********//

.rowCheckerboard__grid--mediaLeft {
	
	.checkerboardPair {
		grid-template-areas:
			"mediaContent"
			"rowContent";
		
		&:nth-child(even) {
			grid-template-areas:
				"mediaContent"
				"rowContent";
		}
	}
}
.rowCheckerboard__grid--mediaRight {
	
	.checkerboardPair {
		grid-template-areas:
			"mediaContent"
			"rowContent";
		
		&:nth-child(even) {
			grid-template-areas:
				"mediaContent"
				"rowContent";
		}
	}
}

//********* END layout alignment  *********//

//********* START Style modfiers to change row variables *********//

@each $row in $rowColors {
    $names: nth($row, 1);
    $bgColor: nth($row, 2);
    $txtColor: nth($row, 3);

    .rowCheckerboard__style--#{$names} {
        background-color: $bgColor;
        color: $txtColor;

        a {
            color: $txtColor;
        }

        .rowContent {
            h1 {
                color: $txtColor;
            }
        }
    }
}

//********* END Style modfiers to change row variables *********//