/* _row1ColTitle.scss */
/* autoprefixer grid: on */

//********* START Core styling for this specific row *********//

.row1ColTitle {
    height: auto;
    overflow: hidden;
    position: relative;
    display: grid;
    align-items: center;
    background-position: center;
    background-size: cover;
    padding: 3rem 0;
        //Setting the default grid
    grid-template-columns: 0vw minmax(auto, 100vw) 0vw;
    grid-template-rows: auto;
    z-index: 0;
    grid-template-areas:
        ". rowContent .";

    > .rowContent {
        grid-area: rowContent;
        z-index: 1;
        padding: 0 1.5rem;

    }

    .fa {
        font-size: 2rem;
        left: 50%;
        margin: 18px 0 0 0;
    }
}

//********* END Core styling for this specific row *********//

//********* START layout alignment  *********//

.row1ColTitle__align--left {
    text-align: left;
}

.row1ColTitle__align--right {
    text-align: right;
}

.row1ColTitle__align--center {
    text-align: center;
    .rowContent {
        h1 {
            &:after {
                display: block;
            }
        }
    }
}

//********* END layout alignment  *********//

//********* START Style modfiers to change row variables *********//

@each $row in $rowColors {
    $names: nth($row, 1);
    $bgColor: nth($row, 2);
    $txtColor: nth($row, 3);

    .row1ColTitle__style--#{$names} {
        background-color: $bgColor;
        color: $txtColor;
        
        .rowContent {
            
            h1 {
                color: $txtColor;
            }
        }
    }
}

//********* END Style modfiers to change row variables *********//