// _freshman.scss

.freshmanHero {
	.background {
		background-image:url(https://www.edgewood.edu/images/default-source/freshman-admissions/move-in-day-excitement.jpg);
		background-size: cover;
		background-position: center;
		min-height: 400px;
	}
}