// _4upReveal.scss

.factsRow {
    //color: black;
    padding: 70px 15px 0;
    text-align: center;
	position: relative;
//	.background {
//		&.greyTopFade:before {
//			content: '';
//			position: absolute;
//			top: 0;
//			right: 0;
//			bottom: 0;
//			left: 0;
//			height: 100px;
//			background-image: linear-gradient(to bottom, rgba(143, 19, 36, 1) 0%,  rgba(143, 19, 36, 0));
//		}
//	}
    .section-title {
        margin-bottom: 50px;
    }
    .facts {
//        display: -webkit-box;
//        display: -webkit-flex;
//        display: -ms-flexbox;
//        display: flex;
        margin: auto;
        &:last-child {
            margin: auto auto 20px;

        }
        .fact {
            margin-bottom: 50px;
            padding: 0 50px;
            .image-wrap {
                width: 110px;
                height: 110px;
                background: #f1f1f1;
                border-radius: 50%;
                margin: 0 auto 20px;
                img {
                    width: 110px;
                    height: 110px;
                    border-radius: 50%;
                }

            }
            h3 {
                font-size: 36px;
                margin: 0;
                color:$red;
            }
            .txt {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 0;
                font-weight: 600;
            }
            &.middle {
				border-left:2px dotted gray;
				border-right:2px dotted gray;
            }

        }

        
    }
}
