/* _utilities--sm.scss */
$rowColors: ('red' $red #fff) ('black' #000 #fff) ('grey' $grey #000) ('white' #fff #000);
//*added new array so we can manage links at same time as row style colors
//  (1, 2, 3, 4)  1= Row/style name, 2= background color, 3= text color, 4=link color, 5=link color hover
$rowColorsLinks: ('red' $red #fff #fff #000) ('black' #000 #fff #fff $red) ('grey' $grey #000 $red #000) ('white' #fff #000 $red #000);

.rowContent {
    
    a {
        font-weight: bold;
    }
}

.rowTitle {
    font-size: 2.7rem;
    margin: 0 auto 20px;
    font-weight: 400;

    &:after {
        content: "";
        display: none;
        margin: 0 auto;
        width: 30%;
        border-bottom: 5px dotted;
    }
}

.rowSubtitle {
    padding: 0 0 20px; 
    font-size: 1.4rem;
    margin: auto;
}

.rowText {
    padding: 0 0 20px;
    font-size: 1.2rem;
}

// **********************  START rowButton colors *************************************//
.rowButton {
    padding: 0.8rem 2.1rem;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: normal;
    border: none;
    margin: 1rem 0; 
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 2px 4px 5px -2px rgba(#8f8f8f, 0);
    border-radius: 0.4rem;
    display: inline-block;
}

$row-button-colors: ('red'#8f1324 #fff) ('black'#000 #fff) ('grey'#ccc #000) ('white'#fff #000) ('orange' $orange #fff) ('blue' $blue #fff) ('green' $green #fff);

@each $button in $row-button-colors {
    $names: nth($button, 1);
    $bgColor: nth($button, 2);
    $txtColor: nth($button, 3);

    a.rowButton__color--#{$names}, .rowButton__color--#{$names} {
        color: $txtColor;
        background: linear-gradient(to bottom, lighten( $bgColor, 5% ) 5%, darken( $bgColor, 5% ) 100%);
        background-color: $bgColor;
        transition: transform 0.3s ease-in;

        a {
            color: $txtColor;
        }
        &:hover {
            background: linear-gradient(to bottom, darken( $bgColor, 5% ) 5%, lighten( $bgColor, 5% ) 100%);
            transition: transform 0.3s ease-in;
        }
    }
}

// **********************  END rowButton colors *************************************//