/* _colors.scss */


//$red: #8f1324;
$white: #fff;
$grey: #f1f1f1;
$lightRed: #d1929c;
$midRed:#b52d43;
$darkRed: #912436; 
$red80: rgba(143,19,36,0.8); 
$red40: rgba(143,19,36,0.4);
$black: #000;
$black20: rgba(0,0,0,.2);  
$black80: rgba(0,0,0,.2);



  //Core
$primary-color: #8f1324 !default;
$secondary-color: #8f1324 !default;
$tertiary-color:#8f1324 !default;

    // Programs
$green: #006a64 !default;
$blue: #1f758a !default;
$orange: #a86326 !default;
$red: $primary-color !default;

    // Grayscale
$white: #ffffff !default;
$gray-100:#f8f9fa !default;
$gray-200:#e9ecef !default;
$gray-300:#dee2e6 !default;
$gray-400:#ced4da !default;
$gray-500:#adb5bd !default;
$gray-600:#6c757d !default;
$gray-700:#495057 !default;
$gray-800:#343a40 !default;
$gray-900:#212529 !default;
$black: #000000 !default;

$black-rgba: rgba(255,255,255,0) !default;

$grey:#f1f1f1;

    //Components 
$link-color: $primary-color !default;
$font-color: $black !default;



//SiteFinity
// Will eventually merge this into the current color variables

$white_hover: #ebebeb;

$black_70: rgba($black, 0.7);
$black_80: rgba($black, 0.8);
$black_accent: #282828;

$border_grey: #707070;
$title_grey: #636364;
$select_grey: #797979;
$dark_red: #8f1324;
$mahogany: #57020d;
$blue_stone: #006a64;
$elm: #1f758a;
$desert: #a86326;
$silver: #c1c1c1;
$highlight_background: #156df9;
