/******		|| COLORS ||		******/

    //Core
$primary-color: #8f1324 !default;
$secondary-color: #8f1324 !default;
$tertiary-color:#8f1324 !default;

    // Programs
$green: #006a64 !default;
$blue: #1f758a !default;
$orange: #a86326 !default;
$red: $primary-color !default;

    // Grayscale
$white: #ffffff !default;
$gray-100:#f8f9fa !default;
$gray-200:#e9ecef !default;
$gray-300:#dee2e6 !default;
$gray-400:#ced4da !default;
$gray-500:#adb5bd !default;
$gray-600:#6c757d !default;
$gray-700:#495057 !default;
$gray-800:#343a40 !default;
$gray-900:#212529 !default;
$black: #000000 !default;

$black-rgba: rgba(255,255,255,0) !default;

    //Components 
$link-color: $primary-color !default;
$font-color: $black !default;

